fastapi>=0.109.0
uvicorn>=0.27.0
sqlalchemy>=2.0.25
alembic>=1.13.1
psycopg2-binary>=2.9.9
pydantic>=2.6.0
python-dotenv>=1.0.1
# AI / LLM
openai>=1.10.0
langchain>=0.1.5
langchain-groq>=0.1.0
pypdf
python-multipart
slowapi>=0.1.9
